<style>
  .help-container {
    width: 100%;
    height: 90%;
    font-family: Arial, sans-serif; /* Fuente del texto */
    margin: 20px auto; /* Margen exterior */
    padding: 48px; /* Espaciado interno */
    font-size: 24px;
  }

  .help-container h4 {
    color: #333; /* Color del título */
    margin-top: 0; /* Eliminar margen superior */
    padding-bottom: 10px; /* Espaciado inferior */
    background-color: #9C070F;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 26px;
  }

  details {
    margin-top: 15px; /* Espaciado entre detalles */
    padding: 16PX;
  }

  summary {
    cursor: pointer; /* Cursor apuntador al pasar el mouse */
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 5px; /* Espaciado inferior */
  }

  p {
    margin-top: 0; /* Eliminar margen superior del párrafo */
    margin-bottom: 10px; /* Espaciado inferior del párrafo */
  }
</style>

<div class="help-container">
  <h4>Help</h4>
  <div>
    <details open>
      <summary>Until how late do you deliver?</summary>
      <p>We deliver as late as 9pm from all restaurants.</p>
    </details>
    <details>
      <summary>What payment methods do you accept?</summary>
      <p>We gladly accept all major credit cards.</p>
    </details>
    <details>
      <summary>I got an extra chocolate muffin with my order, what is this about?</summary>
      <p>That's just a small thank-you gift from FoodMe. Enjoy it!</p>
    </details>
  </div>
</div>
