<div class="how-container">
  <div>
    <h4>How it works</h4>
    <p>It's simple:</p>
  </div>
  <div>
      <div class="item-indicator">
        <div class="indicator">
          <span>1</span>
        </div>
        <span>Enter delivery address</span>
        <span>Pick a great restaurant</span>
      </div>
      <div class="item-indicator">
        <div class="indicator">
          <span>2</span>
        </div>
        <span>Select yummy food</span>
        <span>Enter delivery time</span>
      </div>
      <div class="item-indicator">
        <div class="indicator">
          <span>3</span>
        </div>
        <span>Enter payment details</span>
        <span>And the food will be on the way!</span>
      </div>
  </div>
</div>
